* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background: black;
    width: 100vw;
    height: 100vh;
    z-index: -99;
}
#ui-toggle-label {
    position: absolute;
    font-size: inherit;
    font-family: inherit;
    color: white;
    z-index: 2;
    left: 10px;
}
#ui-toggle {
    position: absolute;
    z-index: 2;
    top: 2.5px;
    left: 70px;
}
#ui-toggle:checked ~ #ui {
    display: none;
}
#ui-toggle:checked ~ .axis-marker {
    display: none;
}
#ui {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
    font-size: 30px;
    background: black;
    color: white;
    z-index: 1;
    font-family: "Times New Roman", Times, serif;
    padding: 8px;
}
#ui > input {
    height: 50px;
    padding: 10px;
    background: black;
    border: 2px solid white;
    border-radius: 15px;
    color: white;
    font-size: inherit;
    font-family: inherit;
}
.axis-marker {
    position: absolute;
    background: grey;
    z-index: -1;
}
#vertical-line {
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 2px;
}
#horizontal-line {
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 100%;
}

#canvas {
    z-index: 0;
    position: absolute;
}

#testingMath {
    height: 200px;
    width: 300px;
    z-index: 99;
}